
.admin-page{   
    header > div{
        position: relative;
    }
    
    header > div > div:nth-child(2){
        position: absolute;
        bottom: 0;
        right: 0;
    }

    header > div > div:nth-child(3){
        position: absolute;
        
    }

    input, textarea{
        padding: 0.5rem;
    }

    .popUp{
        position: absolute;
        left: 0;
        top: 0;
    }

    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        color: #000;
        opacity: .7;
        width: 100vw;
        height: 100vh;
    }

    .popUp-box{
        position: fixed;
        background-color: #9F99DC;
        border-radius: 1.4rem;
        width: 40rem;
        padding: 1rem 1.6rem;
       
    }

    .popUp-box .common-button:hover{
        background-color: #b7b1ff9b;
        color: #fff !important;
    }

    .common-button:hover, a:hover{
        color: #b7b1ff9b;
    }

    .popUp-box > div:nth-child(1) button{
        font-family: 'josefinsans-semibold' !important;
        background-color: #9F99DC;
        border: none;
        font-size: 2rem;
        color: #fff;
    }

    .popUp-box > div:nth-child(1) button:hover{
        color: #979797;
    }

    .popUp-box form div div input, .popUp-box form div div textarea{
        border-radius: 0.5rem;
        border: none;
        height: 2rem;
        font-size: 1.2rem;
        font-family: 'josefinsans-regular';
        margin-bottom: 1rem;
    }

    .popUp-box form div:nth-child(1) div, .popUp-box form div:nth-child(2) div{
        width: 48%;
    }

    .popUp-box form div:nth-child(3) div{
        width: 31%;
    }

    .popUp-box form div:nth-child(n+4) div textarea{
        height: 6.4rem;
    }

    .popUp-box label{
        color: #fff;
    }

    h1, h2, h3, h4, h5, h6, label{
        font-family: 'josefinsans-semibold' !important;
    }
    
    h1{
        font-size: 2.8rem !important;
    }
    
    h2{
        font-size: 1.8rem !important;
    }
    
    h3, label{
        font-size: 1.4rem !important;
    }
    
    p{
        font-family: 'josefinsans-regular';
        font-size: 0.8rem;
    }
    
    a, li{
        font-family: 'josefinsans-regular';
        font-size: 1.2rem;
    }
    
    td{
        font-family: 'josefinsans-regular';
        font-size: 1rem;
    }
    
    div.admin-page{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    /* aside */ 
    
    aside{
        background-color: #65609C;
        height: 180vh;
        width: 22rem;
        padding: 1rem 0 0 1rem;
    }
    
    aside h2, aside a{
        color: #fff;  
    }

    aside a:nth-child(4){
        display: none;
    }
    
    aside h2{
        margin-bottom: 0.5rem;
    }
    
    aside nav ul{
        margin-bottom: 4rem;
    }
    
    aside nav ul li:before{
        content: '\2022';
        margin: 0 6px;
        color: #fff;
    }
    
    /* header */
    
    header{
        background-color: #65609C;  
        justify-content: flex-start;
        padding: 0.4rem 1rem;
        align-items: center;
    }
    
    header img{
        width: 7rem;
        border-radius: 4rem;
        border: solid 6px #fff;
    }
    
    header h1{
        margin-top: 0.4rem;
        margin-left: 0.8rem;
        color: #fff;
    }
    
    /* main */
    
    main ul{
        list-style: inside;
    }
    
    main .important ul li:before{
        content: '\2022';
        margin: 0 6px;
        color: #000;
    }
    
    main table{
        border-radius: 1rem;
        padding: 0.6rem;
        background-color: #E4E4E4;
        margin-bottom: 1rem;
    }
    
    .main-table{
        padding: 1rem 2rem;
    }
    
    tr{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    tr div{
        display: flex;
        justify-content: space-between;
        width: 60%;
    }
    
    .main-button{
        padding: 0.8rem 1.2rem !important;
        background-color: #9F99DC;
        color: #fff;   
    }
    
    .title-next{
        margin-bottom: 1.2rem;
    }
    
    .title-next > div > button{
        border: none;
        cursor: pointer;
        background-color: #65609C;
        width: 3rem;
        height: 3rem;
        padding: 1rem;
        border-radius: 3rem;
        margin-left: 0.5rem;
    }

    .title-next > div > button > img {
        width: 1rem;
        height: auto;
    }

    tr td svg{
        height: 1rem;
        width: 1rem;
    }
    
    .next-before div{
        width: 13rem;
    }

    .usuarioLetter{
        font-size: 3rem;
        background-color: #fff;
        width: 4rem;
        height: 4rem;
        text-align: center;
        line-height: 2.3rem;
        border-radius: 2rem;
        border: solid 6px #000;
    }

    #imagemPerfil{
        visibility: hidden;
        position: absolute;
    }
    
    .imagem-perfil{
        position: absolute;
        left: 0;
        top: 0;
        width: 4rem;
        height: 4rem;
        border: solid 6px #fff;
        border-radius: 2rem;
    }

    .next-schedules-card > table > tbody > tr > div > td:nth-child(n+3){
        width: 2.5rem;
    }

    @media (min-width: 1500px) {
        td{
            font-size: 1.4rem;
        }
    }
    
    @media (max-width: 700px){
        td, input{
            font-size: 0.8rem !important;
        }
        h2{
            font-size: 1rem !important;
        }
        aside a{
            font-size: 0.8rem !important;
        }
        aside{
            width: 17.5rem;
        }
    
        .container .w-full .jc-end{
            margin-top: 1.2rem;
            justify-content: center;
        }
    }

    @media (max-width: 500px) {
        aside h2, aside nav, aside a{
            display: none;
        }

        aside a:nth-child(4){
            display: inherit;
        }

        h1{
            font-size: 1.4rem !important;
        }

        h2{
            font-size: 1.2rem !important;
        }

        li{
            font-size: 0.9rem;
        }
    }

}