/*
    PsicoTEC
    <span className="ptc-orange">Psico</span><span className="ptc-blue">TEC</span>
*/

.ptc-orange{
    color: #ffaa05 !important;
    font-family: 'josefinsans-semibold' !important;
}

.ptc-blue{
    color: #212c94 !important;
    font-family: 'josefinsans-semibold' !important;
}

@font-face {
    font-family: 'josefinsans-medium';
    src: url('../fonts/JosefinSans-Medium.ttf');
}

@font-face {
    font-family: 'josefinsans-regular';
    src: url('../fonts/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: 'josefinsans-semibold';
    src: url('../fonts/JosefinSans-SemiBold.ttf');
}

*{
    color: #2b2b2b; /* default color */
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    outline: none;
}

textarea{
    resize: none;
}

div.home-page, div.login-page, div.history-page, div.admin-page{
    overflow-x: hidden !important;
}

header, main, footer{
    display: flex;
    width: 100% !important;
}

header, footer{
    justify-content: center;
}

main{
    align-items: center;
}

.max-width-visibility{
    max-width: 1478px;
}

.container{
    display: flex;
}

.container-column{
    display: flex;
    flex-direction: column;
}

.zi-1{
    position: relative;
    z-index: 1;
}

.zi-2{
    position: relative;
    z-index: 2;
}

.wh-full{
    width: 100%;
    height: 100%;
}

.w-full{
    width: 100%;
}

.h-full{
    height: 100%;
}

.space-between{
    justify-content: space-between;
}

.al-center{
    align-items: center;
}

.jc-center{
    justify-content: center;
}

.jc-end{
    justify-content: flex-end;
}

.wrap{
    flex-wrap: wrap;
}

.common-button{
    font-family: 'josefinsans-semibold';
    border: none;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    padding: 1.2rem 1.4rem;
    border-radius: 3rem;
    font-size: 1.4rem;
}

.df-button-input{
    font-family: 'josefinsans-regular';
    border-radius: 1.6rem;
    resize: none;
    overflow-y: hidden;
}

.pd-2-4{
    padding: 2rem 4rem;
}

.logo-link{
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.overlay{
    position: fixed;
    background-color: #2b2b2b;
    opacity: .4;
}